@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,400;0,500;1,400&display=swap");
@font-face {
  font-family: 'ArialMT';
  src: url("../fonts/ArialMT.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

.title-block {
  text-align: center;
  padding: 100px 0 50px;
}

.block__subtitle {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #ff6d6d;
  text-transform: uppercase;
}

.block__title {
  font-family: "Exo", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
  margin-bottom: 45px;
}

.block__par {
  opacity: 0.65;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}

.block__points {
  color: #ff6d6d;
}

.content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-row__block {
  text-align: center;
}

.content-row__title {
  font-family: "Exo", sans-serif;
  font-size: 22px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}

.content-row__text {
  opacity: 0.65;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}

.contact__title {
  font-family: "Exo", sans-serif;
  font-size: 22px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
  margin-bottom: 10px;
}

.contact__text {
  opacity: 0.65;
  font-family: "Exo", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #282828;
}

header {
  min-height: 815px;
}

header .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/header/header.png) no-repeat;
  background-size: cover;
}

header .container .content {
  max-width: 735px;
  margin: 0 auto;
  text-align: center;
}

header .container .content-heading {
  font-family: "Exo", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 100;
  letter-spacing: 0.04em;
  color: #282828;
}

header .container .content-btn {
  width: 60px;
  height: 60px;
  display: block;
  background: url(../img/header/play.png) no-repeat;
  background-position: 58% 51%;
  margin: 40px auto;
  background-color: #323969;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

header .container .content-link {
  padding: 20px 50px;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  background-color: #ff6d6d;
}

header .container .content-text {
  display: block;
  opacity: 0.6;
  font-family: "Exo", sans-serif;
  font-size: 14px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #282828;
}

.design {
  width: 100%;
  min-height: 725px;
  background-color: #fff;
}

.design .wrapper {
  height: 100%;
}

.design .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design .content-left {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design .content-left .left-block {
  width: 65%;
  height: 65%;
}

.design .content-left .left-block__par-1 {
  margin-bottom: 40px;
}

.design .content-right {
  width: 35%;
  background: url(../img/design/design_right.png) no-repeat;
}

.features {
  min-height: 675px;
  position: relative;
}

.features:after {
  content: '';
  position: absolute;
  top: 0;
  right: 20%;
  max-width: 162px;
  width: 100%;
  max-height: 215px;
  height: 100%;
  background: url(../img/features/earphones.png);
  block-size: cover;
}

.features .container {
  background: url(../img/features/features_bg.png) no-repeat;
}

.features-row__block {
  margin: 0 10px;
}

.features-row__title {
  margin: 30px 0 15px;
}

.responsive {
  min-height: 550px;
}

.responsive .container {
  background: url(../img/responsive/triangle.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.responsive .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.responsive .content-right {
  margin-top: 20px;
  margin-left: 50px;
}

.responsive .content-right .right-block__title {
  margin-bottom: 20px;
}

.developers {
  min-height: 648px;
}

.developers .container {
  background: url(../img/developers/developers_bg.png) no-repeat;
}

.developers-row {
  margin-top: 100px;
}

.developers-row__block {
  margin: 0 25px;
}

.developers-row__name {
  color: #fff;
}

.developers-row__position {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 49px;
  font-weight: 500;
  color: #ff6d6d;
}

.developers-row__blq {
  opacity: 0.65;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

.developers-partner-row {
  max-width: 1000px;
  width: 100%;
  padding: 150px 0 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awesome {
  min-width: 750px;
}

.awesome .container {
  background-color: #f6f5f3;
}

.awesome .content {
  max-width: 650px;
  height: inherit;
  margin: 0 auto;
}

.awesome-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.awesome-title {
  margin-bottom: 50px;
}

.try .container {
  background-color: #323969;
  padding-bottom: 50px;
}

.try__title {
  color: #fff;
}

.try-form {
  width: 100%;
}

.try-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.try-form-row .form-input {
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  padding: 20px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.try-form-row .form-input::-webkit-input-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #f6f5f3;
}

.try-form-row .form-input:-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #f6f5f3;
}

.try-form-row .form-input::-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #f6f5f3;
}

.try-form-row .form-input::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #f6f5f3;
}

.try-form-row .form__btn {
  position: relative;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #f6f5f3;
  background-color: #ff6d6d;
  padding: 0 100px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.try-form-row .form__btn:before {
  content: '';
  position: absolute;
  top: -50px;
  left: 5px;
  max-width: 41px;
  width: 100%;
  max-height: 41px;
  height: 100%;
  background: url(../img/try/try_arrow.png) no-repeat;
}

.try-form-row .form__btn .form__subitem {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 41px;
  height: 100%;
  top: -47px;
  left: 30px;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 10px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #f6f5f3;
  text-transform: capitalize;
}

.try-form-row .form__subitem {
  position: absolute;
}

.try-agree {
  padding: 20px 0;
  text-align: center;
}

.try-agree__text, .try-agree__link {
  opacity: 0.6;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #f6f5f3;
}

.try-agree__link {
  text-decoration: underline;
}

.contact .container {
  background: url(../img/contact/contact_bg.png) no-repeat;
  background-position: 101% -100px;
  background-size: contain;
}

.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.contact-start {
  width: 25%;
}

.contact-start__text {
  display: block;
  opacity: 0.56;
}

.contact-start__country {
  display: block;
  opacity: 0.56;
}

.contact-start__adress {
  opacity: 0.56;
}

.contact-start__title {
  font-family: "Lato", sans-serif;
  font-size: 26.9px;
  line-height: 33px;
  font-weight: 400;
  color: #2c2f49;
}

.contact-support, .contact-about, .contact-get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-support span, .contact-about span, .contact-get span {
  text-transform: uppercase;
}

.contact-get .contact-form {
  position: relative;
}

.contact-get .contact-form__mail {
  border: none;
  background-color: rgba(40, 40, 40, 0.1);
  height: 49px;
  padding: 0 30px;
  border-radius: 5px;
  outline: none;
  color: #282828;
}

.contact-get .contact-form__mail::-webkit-input-placeholder {
  opacity: 0.4;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000;
  text-transform: uppercase;
}

.contact-get .contact-form__mail:-ms-input-placeholder {
  opacity: 0.4;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000;
  text-transform: uppercase;
}

.contact-get .contact-form__mail::-ms-input-placeholder {
  opacity: 0.4;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000;
  text-transform: uppercase;
}

.contact-get .contact-form__mail::placeholder {
  opacity: 0.4;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000;
  text-transform: uppercase;
}

.contact-get .contact-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/contact/contact_send.png) no-repeat;
  background-position: center;
  background-color: #ff6d6d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.contact-get .contact-form__btn:hover {
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.5);
}

.contact-soc {
  margin: 0 auto;
  padding: 20px 0;
}

.contact-soc__link {
  display: inline-block;
  color: rgba(40, 40, 40, 0.7);
  font-size: 20px;
  margin: 0 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.contact-soc__link:hover {
  color: #282828;
}
/*# sourceMappingURL=style.css.map */