@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,400;0,500;1,400&display=swap");
@font-face {
  font-family: 'ArialMT';
  src: url("../fonts/ArialMT.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

.title-block {
  text-align: center;
  padding: 100px 0 50px;
}

.block__subtitle {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #ff6d6d;
  text-transform: uppercase;
}

.block__title {
  font-family: "Exo", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
  margin-bottom: 45px;
}

.block__par {
  opacity: 0.65;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}

.block__points {
  color: #ff6d6d;
}

.content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-row__block {
  text-align: center;
}

.content-row__title {
  font-family: "Exo", sans-serif;
  font-size: 22px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}

.content-row__text {
  opacity: 0.65;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}

header {
  min-height: 815px;
}

header .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/header/header.png) no-repeat;
  background-size: cover;
}

header .container .content {
  max-width: 735px;
  margin: 0 auto;
  text-align: center;
}

header .container .content-heading {
  font-family: "Exo", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 100;
  letter-spacing: 0.04em;
  color: #282828;
}

header .container .content-btn {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto;
  background-color: #323969;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

header .container .content-link {
  padding: 20px 50px;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 75px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  background-color: #ff6d6d;
}

header .container .content-text {
  display: block;
  opacity: 0.6;
  font-family: "Exo", sans-serif;
  font-size: 14px;
  line-height: 75px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #282828;
}

.design {
  width: 100%;
  min-height: 725px;
  background-color: #fff;
}

.design .wrapper {
  height: 100%;
}

.design .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design .content-left {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design .content-left .left-block {
  width: 65%;
  height: 65%;
}

.design .content-left .left-block__par-1 {
  margin-bottom: 40px;
}

.design .content-right {
  width: 35%;
  background: url(../img/design/design_right.png) no-repeat;
}

.features {
  min-height: 675px;
  position: relative;
}

.features:after {
  content: '';
  position: absolute;
  top: 0;
  right: 20%;
  max-width: 162px;
  width: 100%;
  max-height: 215px;
  height: 100%;
  background: url(../img/features/earphones.png);
  block-size: cover;
}

.features .container {
  background: url(../img/features/features_bg.png) no-repeat;
}

.features-row__block {
  margin: 0 10px;
}

.features-row__title {
  margin: 30px 0 15px;
}

.responsive {
  min-height: 550px;
}

.responsive .container {
  background: url(../img/responsive/triangle.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.responsive .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.responsive .content-right {
  margin-top: 20px;
  margin-left: 50px;
}

.responsive .content-right .right-block__title {
  margin-bottom: 20px;
}

.developers {
  min-height: 648px;
}

.developers .container {
  background: url(../img/developers/developers_bg.png) no-repeat;
}

.developers-row {
  margin-top: 100px;
}

.developers-row__block {
  margin: 0 25px;
}

.developers-row__name {
  color: #fff;
}

.developers-row__position {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 49px;
  font-weight: 500;
  color: #ff6d6d;
}

.developers-row__blq {
  opacity: 0.65;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

.developers-partner-row {
  max-width: 1000px;
  width: 100%;
  padding: 150px 0 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */