* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.title-block {
    text-align: center;
    padding: 100px 0 50px;
}
.block__subtitle {
    font-family: $Exo;
    font-size: 16px;
    line-height: 50px;
    font-weight: $medium;
    letter-spacing: 0.2em;
    color: $orange-red;
    text-transform: uppercase;
}

.block__title {
    font-family: $Exo;
    font-size: 40px;
    line-height: 50px;
    font-weight: $medium;
    letter-spacing: 0.04em;
    color: $gray-dark;
    margin-bottom: 45px;
}

.block__par {
    opacity: 0.65;
    font-family: $Exo;
    font-size: 16px;
    line-height: 26px;
    font-weight: $medium;
    letter-spacing: 0.04em;
    color: $gray-dark;
}

.block__points {
    color: $orange-red;
}

.content-row {
    display: flex;

    &__block {
        text-align: center;
    }

    &__title {
        font-family: $Exo;
        font-size: 22px;
        line-height: 49px;
        font-weight: $medium;
        letter-spacing: 0.04em;
        color: $gray-dark;
    }

    &__text {
        opacity: 0.65;
        font-family: $Exo;
        font-size: 16px;
        line-height: 26px;
        font-weight: $medium;
        letter-spacing: 0.04em;
        color: $gray-dark;
    }
}

.contact__title {
    font-family: $Exo;
    font-size: 22px;
    line-height: 49px;
    font-weight: $medium;
    letter-spacing: 0.04em;
    color: $gray-dark;
    margin-bottom: 10px;
}

.contact__text {
    opacity: 0.65;
    font-family: $Exo;
    font-size: 14px;
    line-height: 30px;
    font-weight: $normal;
    letter-spacing: 0.04em;
    color: $gray-dark;
}